/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
* {
    margin:0;
}

header {
    background: rgb(38, 38, 60);
    color: grey;
    height: 75px;
}


header img {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

header nav ul {
    padding-left: 700px;
}

header nav *{
    color: grey;
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 20px 7.5px 0 7.5px;
}

.top {
    background: rgb(38, 38, 60);
}

.top h1 {
    color: white;
}

.top p {
    color: grey;
}

.top section {
    width: 50%;
}

.top > section {
    border: 1px solid red;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
